.header {
  min-height: 60px;
}

.header__content {
  position: relative;
  background-color: rgb(71, 116, 95);
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-block {
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 9px;
  position: absolute;
  right: 6%;
  transition: all 800ms;
}

.header__nav {
  cursor: pointer;
}

.header__nav-block:hover {
  transform: scale(1.15);
}
