.header {
  min-height: 60px;
}

.header__content {
  background-color: rgb(71, 116, 95);
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-block {
  position: absolute;
  right: 6%;
}

.header__nav {
  transition: all 800ms;
  cursor: pointer;
}

.header__nav:hover {
  color: white;
  transform: scale(1.2);
}
