.header {
  min-height: 60px;
}

.header__content {
  position: relative;
  background-color: rgb(71, 116, 95);
  min-height: 74px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__nav-block {
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 9px;
  position: absolute;
  right: 15%;
  transition: all 800ms;
}

.header__nav-block_shop {
  border: 1px solid white;
  border-radius: 7px;
  padding: 5px 9px;
  position: absolute;
  right: 3%;
  transition: all 800ms;
}

.header__nav-block_shop-count {
  background-color: red;
  width: 32px;
  height: 23px;
  border-radius: 11px;
  position: absolute;
  right: 7px;
  text-align: center;
  padding-top: 4px;
}

.header__nav {
  cursor: pointer;
}

.header__nav-block:hover {
  transform: scale(1.15);
}
